<div class="card" style="margin-bottom: -30px;">
    <div class="flex align-items-baseline flex-row flex-wrap card-container gap-1">
        <div class="flex justify-content-center">
            <mat-select-country #c name="country" appearance="outline" label="Nationality"
                (onCountrySelected)="onCountrySelected($event)" (keypress)="onKeyOnCountry($event)"
                [disabled]="isDisabled">
            </mat-select-country>
        </div>
        <div class="flex justify-content-center">
            <button pButton label="Clear" (click)="onClearCountry()" [disabled]="isDisabled"></button>
        </div>
    </div>
</div>