<div style="padding: 1em;">
    <p-toolbar>
        <button pButton type="button" icon="pi pi-pencil"
            class="p-button-help p-button-outlined p-button-rounded p-button-sm" (click)="onEditClicked()"></button>
        <button pButton type="button" icon="pi pi-trash" (click)="confirmDelete()"
            class="p-button-danger p-button-outlined p-button-rounded p-button-sm"></button>
    </p-toolbar>
</div>
<p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>
<p-messages [value]="msgs"></p-messages>