<p-dataView [value]="entities" [loading]="loading">
    <ng-template pTemplate="header">
        <h4>All F1 teams</h4>
        <!-- <p-dropdown [options]="sortOptions" [(ngModel)]="sortKey" placeholder="Sort By"
            (onChange)="onSortChange($event)" [style]="{'min-width':'15em'}"></p-dropdown> -->
    </ng-template>
    <ng-template let-team pTemplate="listItem">
        <app-team-item [team]="team" style="margin: 1em"></app-team-item>
    </ng-template>
    <!-- <ng-template let-team pTemplate="gridItem">
        <div class="col-12 md:col-3">
            {{team.logo}}
        </div>
    </ng-template> -->
    <ng-template pTemplate="footer">Choose from the list.</ng-template>
</p-dataView>